In [1]:
import pandas as pd

# Define the start and end date
start_date = '2015-01-01'
end_date = '2030-12-31'

In [2]:
# Create a date range
date_range = pd.date_range(start=start_date, end=end_date)

# Create DataFrame
date_table = pd.DataFrame({'Date': date_range})

In [3]:
# Derive useful fields
date_table['DateKey'] = date_table['Date'].dt.strftime('%Y%m%d').astype(int)
date_table['Year'] = date_table['Date'].dt.year
date_table['Quarter'] = date_table['Date'].dt.quarter
date_table['Month'] = date_table['Date'].dt.month
date_table['MonthName'] = date_table['Date'].dt.strftime('%B')
date_table['MonthShort'] = date_table['Date'].dt.strftime('%b')
date_table['Day'] = date_table['Date'].dt.day
date_table['DayOfWeek'] = date_table['Date'].dt.dayofweek + 1  # Monday=1, Sunday=7
date_table['DayName'] = date_table['Date'].dt.strftime('%A')
date_table['WeekOfYear'] = date_table['Date'].dt.isocalendar().week
date_table['IsWeekend'] = date_table['DayOfWeek'].isin([6, 7])
date_table['YearMonth'] = date_table['Date'].dt.strftime('%Y-%m')
date_table['YearQuarter'] = date_table['Year'].astype(str) + ' Q' + date_table['Quarter'].astype(str)
date_table['HalfYear'] = date_table['Date'].dt.month.map(lambda m: 1 if m <= 6 else 2)

In [4]:
# Fiscal and Calendar naming
date_table['FiscalYear'] = 'FY' + date_table['Year'].astype(str)
date_table['CalendarYear'] = 'CY' + date_table['Year'].astype(str)
date_table['QuarterYear'] = 'Q' + date_table['Quarter'].astype(str) + '-' + date_table['Year'].astype(str)
date_table['MonthYear'] = 'M' + date_table['Month'].astype(str) + '-' + date_table['Year'].astype(str)

In [5]:
# Optional: fiscal year starting in April
# Uncomment below if your fiscal year starts in April
# date_table['FiscalYear'] = date_table['Date'].apply(lambda d: f"FY{d.year if d.month >= 4 else d.year - 1}")

# Reorder columns for better readability
date_table = date_table[
    [
        'DateKey', 'Date', 'Year', 'CalendarYear', 'FiscalYear', 'Quarter', 'QuarterYear',
        'Month', 'MonthYear', 'MonthName', 'MonthShort', 'Day', 'DayOfWeek', 'DayName',
        'WeekOfYear', 'IsWeekend', 'YearMonth', 'YearQuarter', 'HalfYear'
    ]
]

In [6]:
# Export to Excel
output_file = 'date_table_2015_2030.xlsx'
date_table.to_excel(output_file, index=False)

In [7]:
print(f"✅ Date table generated successfully and saved as '{output_file}'")
print(date_table.head(10))

✅ Date table generated successfully and saved as 'date_table_2015_2030.xlsx'
    DateKey       Date  Year CalendarYear FiscalYear  Quarter QuarterYear  \
0  20150101 2015-01-01  2015       CY2015     FY2015        1     Q1-2015
1  20150102 2015-01-02  2015       CY2015     FY2015        1     Q1-2015
2  20150103 2015-01-03  2015       CY2015     FY2015        1     Q1-2015
3  20150104 2015-01-04  2015       CY2015     FY2015        1     Q1-2015
4  20150105 2015-01-05  2015       CY2015     FY2015        1     Q1-2015
5  20150106 2015-01-06  2015       CY2015     FY2015        1     Q1-2015
6  20150107 2015-01-07  2015       CY2015     FY2015        1     Q1-2015
7  20150108 2015-01-08  2015       CY2015     FY2015        1     Q1-2015
8  20150109 2015-01-09  2015       CY2015     FY2015        1     Q1-2015
9  20150110 2015-01-10  2015       CY2015     FY2015        1     Q1-2015

   Month MonthYear MonthName MonthShort  Day  DayOfWeek    DayName  \
0      1   M1-2015   January        Jan    1          4   Thursday
1      1   M1-2015   January        Jan    2          5     Friday
2      1   M1-2015   January        Jan    3          6   Saturday
3      1   M1-2015   January        Jan    4          7     Sunday
4      1   M1-2015   January        Jan    5          1     Monday
5      1   M1-2015   January        Jan    6          2    Tuesday
6      1   M1-2015   January        Jan    7          3  Wednesday
7      1   M1-2015   January        Jan    8          4   Thursday
8      1   M1-2015   January        Jan    9          5     Friday
9      1   M1-2015   January        Jan   10          6   Saturday

   WeekOfYear  IsWeekend YearMonth YearQuarter  HalfYear
0           1      False   2015-01     2015 Q1         1
1           1      False   2015-01     2015 Q1         1
2           1       True   2015-01     2015 Q1         1
3           1       True   2015-01     2015 Q1         1
4           2      False   2015-01     2015 Q1         1
5           2      False   2015-01     2015 Q1         1
6           2      False   2015-01     2015 Q1         1
7           2      False   2015-01     2015 Q1         1
8           2      False   2015-01     2015 Q1         1
9           2       True   2015-01     2015 Q1         1